.star-rating { width:205px; }   //별이미지크기

.star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(star.png)no-repeat; } //두개의 span에 동시에 주는 효과들

.star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; } //안쪽 span에만 적용

