{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    <!-- 상단으로 이동하는 화살표 코드-->
    <script type="text/javascript">
            $(document).ready(function(){
 
                var topHeight = parseInt($("#floatingTop").css("top").substring(0,$("#floatingTop").css("top").indexOf("px")));
 
                $(window).scroll(function () { 
                    offset = topHeight+$(document).scrollTop()+"px";
                    $("#floatingTop").animate({top:offset},{duration:100,queue:false});
                });
 
            }); 
    </script>
    <style>
            #floatingTop{
                position:absolute;
                width:40px;
                top:150px;
                right:100px;
                padding:0;
                margin:0;
                z-index:1000;
            }
    </style>
</head>
    
<body>
    <!-- header -->
    <!-- 상단으로 이동하는 화살표 이미지-->
    <div id="floatingTop">
            <a href="#top"><img src="{% static 'up.png' %}" width="100" height="100"></a>
    </div>
    
<div class="jumbotron text-center" id="head-font-face">
  <h1>서울여자대학교 밥집 추천 프로젝트</h1>
    <br>
  <p>교내 / 교외의 밥집들을 소개합니다.</p> 
</div>
    
<!-- 이미지 클릭하면 해당 정보로 이동 -->
    
<h2 align="center" style="color: gray">아래 지도에서 원하는 위치를 클릭해주세요.</h2>
<div class="container"><!-- 남문 -->
    <div style="position:absolute">  
        <div  style="position:relative;left:50px;top:150px;">
            <a href="{% url 'outside' %}">
                <img src="{% static 'arrow.png' %}" width="96px" height="80px" style="transform: rotate(180deg);" alt="남문"/>
            </a>
        </div>  
    </div>  
      
    <!-- 누리 -->
    <div style="position:absolute">  
        <div  style="position:relative;left:650px;top:80px;">
            <a href="{% url 'Noori' %}">
                <img src="{% static 'pin.png' %}" /></a>
        </div>  
    </div>     
        
    <!-- 샬롬 -->
    <div style="position:absolute">  
        <div  style="position:relative;left:570px;top:0px;">
            <a href="{% url 'HumanSocialBuilding' %}">
            <img src="{% static 'pin.png' %}" /></a>
        </div>  
    </div>
    
    <!-- 인사 -->
    <div style="position:absolute">  
        <div  style="position:relative;left:670px;top:220px;">
            <a href="{% url 'HumanSocialBuilding' %}">
            <img src="{% static 'pin.png' %}" /></a>
        </div>  
    </div> 
        
    <!-- 50 -->
    <div style="position:absolute">  
        <div  style="position:relative;left:430px;top:350px;">
            <a href="{% url 'AnniversaryBuilding' %}">
            <img src="{% static 'pin.png' %}" /></a>
        </div>  
    </div> 
        
    <!-- 정문 -->
    <div style="position:absolute">  
        <div  style="position:relative;left:500px;top:480px;">
            <a href="{% url 'outside' %}">
            <img src="{% static 'arrow.png' %}" width="96px" height="80px"/></a>
        </div>  
    </div>
        
    <table border="0" cellpadding="0" cellspacing="0">  
        <tr>  
            <td class="class2">  
                <img src="{% static 'swumap.jpg' %}" width="1000" height="600" alt="" style="margin-left: 5%" />
            </td>   
        </tr>  
    </table> 
</div>
    
<br>

    
<!-- 이제 본문 내용-->

    <br><br><br>
 
    
<footer>
    <div class="jumbotron text-center" id="head-font-face">
  <h1>서울여자대학교 밥집 소개 프로젝트</h1>
    <br>
  <p>멋쟁이 사자처럼</p> 
    </div>
</footer>
</body>

</html>