{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    
<!-- 상단으로 이동하는 화살표 코드-->
    <script type="text/javascript">
            $(document).ready(function(){
 
                var topHeight = parseInt($("#floatingTop").css("top").substring(0,$("#floatingTop").css("top").indexOf("px")));
 
                $(window).scroll(function () { 
                    offset = topHeight+$(document).scrollTop()+"px";
                    $("#floatingTop").animate({top:offset},{duration:100,queue:false});
                });
 
            }); 
    </script>
    <style>
            #floatingTop{
                position:absolute;
                width:40px;
                top:150px;
                right:100px;
                padding:0;
                margin:0;
                z-index:1000;
            }
    </style>
</head>
<body>
    <!-- header -->
    <!-- 상단으로 이동하는 화살표 이미지-->
    <div id="floatingTop">
            <a href="#top"><img src="{% static 'up.png' %}" width="100" height="100"></a>
    </div>
<div class="jumbotron text-center" id="head-font-face">
  <h1>인사대, 샬롬</h1>
  <p>인사대, 샬롬안에 있는 식당</p> 
</div>
    
<!-- 이미지 클릭하면 해당 정보로 이동 -->
<div class="container">
  <div class="row nino-hoverEffect">
    <div class="col-md-4 col-sm-4">
        <a href="#세븐일레븐">
        <div class="card" id="card1">
            <img src="{% static 'seven.png' %}" class="card-img-top" alt="...">
            <div class="overlay">
                <div class="text" id="font-face">세븐일레븐</div>
            </div>
        </div>
        </a>
      </div>
    <div class="col-md-4 col-sm-4">
        <a href="#샬롬식당">
        <div class="card" id="card2">
            <img src="{% static 'chubab.png' %}" class="card-img-top" alt="...">
            <div class="overlay">
                <div class="text" id="font-face">샬롬 식당</div>
            </div>
        </div>
        </a>
      </div>
    <div class="col-md-4 col-sm-4">
        <a href="#인대매점">
        <div class="card" id="card3">
            <img src="{% static 'store.png' %}" class="card-img-top" alt="...">
            <div class="overlay">
                <div class="text" id="font-face">인대 매점</div>
            </div>
        </div>
        </a>
    </div>
  </div>
</div>
    
<!-- 이제 본문 내용-->

<div class="container">
    <table border="0" bordercolor="black" width ="1100" height="300" align = "center" >
        <tr align ="left">
            <p><td colspan = "3"><A name="세븐일레븐"><h1>▶세븐일레븐</h1></A></td></p>
        </tr>
        <tr align = "center">
            <td width="250"><img src="{% static 'seven.png' %}" align="left" width="250" height="250"></td>
            <td width="400">
                <li align="left">추천 메뉴<br>
                    <ul>컵라면     1,500</ul>
                    <ul>과자    1,500</ul>
                    <ul>그 외     </ul>
                </li></td>
            <td align="left">
                -편의점<br>
                -주소:샬롬하우스<br>
                -월~금 08:00-23:00, 토~일 09:00~23:00<br>
                -분조장 남알바생이 있음<br>
                
            </td>
        </tr>
        
        <tr>
            <td width="10" height="10" colspan="3">  
                <style>
                    .star-rating { width:205px; }
                    .star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(images/star.png)no-repeat; }
                    .star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }
                </style>

                <span class='star-rating'>
                    <span style ="width:50%"></span>
                    <!--width에 변수를 넣는다. {{score-->
                </span>
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                별점주기
                <form>
                    <input type="radio" name="score" value="1" /> 1점
                    <input type="radio" name="score" value="2" /> 2점
                    <input type="radio" name="score" value="3" /> 3점
                    <input type="radio" name="score" value="4" /> 4점
                    <input type="radio" name="score" value="5" checked="checked"  /> 5점
                    <!--value 값을 받아온다.(폼태그이용) 그래서 별점 계산하기
                    <script type="text/javascript">
                        function score(){
                            var score=document.getElementsByName('score');
                            for(var i=0;i<score.length;i++){
                                if(score[i].checked==true){
                                    score+=score[i].value;
                                }
                            }
                        }
                    </script>-->
                    
                    <input type="submit" value="점수제출">
                </form>
                <hr>
                여러분들의 후기를 기다립니다.<br>
                <textarea name="text" rows="1" cols="50" style="border:1px ,black";></textarea>
                <input type="submit" class="btn btn-dark" value="Add Comment">
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                다른 사람들의 후기<br>
                <!-- {{comment.date받아오기 }} -->
            </td>
        </tr>
    </table>    
</div>
    <br><br><br>
    
<div class="container">
    <table border="0" bordercolor="black" width ="1100" height="300" align = "center" >
        <tr align ="left">
            <p><td colspan = "3"><A name="샬롬식당"><h1>▶샬롬 식당</h1></A></td></p>
        </tr>
        <tr align = "center">
            <td width="250"><img src="{% static 'chubab.png' %}" align="left" width="250" height="250"></td>
            <td width="400">
                <li align="left">추천 메뉴<br>
                    <ul>매주 식단이 나온다</ul>
                </li></td>
            <td align="left">
                -편의점<br>
                -주소:샬롬하우스<br>
                -월~화 조식: 6:40~8:40, 중식:11:00~14:00, 석식:17:00~19:00 <br>토~일 조식:08:00~09:00, 중식: 12:00~13:00, 석식: 17:30~18:30<br>
                -아침이 맛있음<br>
                -직원분들 친절함<br>
                
            </td>
        </tr>
        
        <tr>
            <td width="10" height="10" colspan="3">  
                <style>
                    .star-rating { width:205px; }
                    .star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(images/star.png)no-repeat; }
                    .star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }
                </style>

                <span class='star-rating'>
                    <span style ="width:50%"></span>
                    <!--width에 변수를 넣는다. {{score-->
                </span>
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                별점주기
                <form>
                    <input type="radio" name="score" value="1" /> 1점
                    <input type="radio" name="score" value="2" /> 2점
                    <input type="radio" name="score" value="3" /> 3점
                    <input type="radio" name="score" value="4" /> 4점
                    <input type="radio" name="score" value="5" checked="checked"  /> 5점
                    <!--value 값을 받아온다.(폼태그이용) 그래서 별점 계산하기
                    <script type="text/javascript">
                        function score(){
                            var score=document.getElementsByName('score');
                            for(var i=0;i<score.length;i++){
                                if(score[i].checked==true){
                                    score+=score[i].value;
                                }
                            }
                        }
                    </script>-->
                    
                    <input type="submit" value="점수제출">
                </form>
                <hr>
                여러분들의 후기를 기다립니다.<br>
                <textarea name="text" rows="1" cols="50" style="border:1px ,black";></textarea>
                <input type="submit" class="btn btn-dark" value="Add Comment">
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                다른 사람들의 후기<br>
                <!-- {{comment.date받아오기 }} -->
            </td>
        </tr>
    </table>    
</div>
    
    <br><br><br>
    
<div class="container">
    <table border="0" bordercolor="black" width ="1100" height="300" align = "center" >
        <tr align ="left">
            <p><td colspan = "3"><A name="인대매점"><h1>▶인대 매점</h1></A></td></p>
        </tr>
        <tr align = "center">
            <td width="250"><img src="{% static 'store.png' %}" align="left" width="250" height="250"></td>
            <td width="400">
                <li align="left">추천 메뉴<br>
                    <ul>컵라면     1,500</ul>
                    <ul>과자    1,500</ul>
                    <ul>그 외     </ul>
                </li></td>
            <td align="left">
                -편의점<br>
                -주소:인사대 1층<br>
                -일요일 토요일 휴무, 월~금: 09:00~16:00<br>
                -유통기한이 지난 음식을 판다<br>
                -김밥은 절대로 먹지 말것<br>
                
            </td>
        </tr>
        
        <tr>
            <td width="10" height="10" colspan="3">  
                <style>
                    .star-rating { width:205px; }
                    .star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(images/star.png)no-repeat; }
                    .star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }
                </style>

                <span class='star-rating'>
                    <span style ="width:50%"></span>
                    <!--width에 변수를 넣는다. {{score(임의)-->
                </span>
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                별점주기
                <form>
                    <input type="radio" name="score" value="1" /> 1점
                    <input type="radio" name="score" value="2" /> 2점
                    <input type="radio" name="score" value="3" /> 3점
                    <input type="radio" name="score" value="4" /> 4점
                    <input type="radio" name="score" value="5" checked="checked"  /> 5점
                    <!--value 값을 받아온다.(폼태그이용) 그래서 별점 계산하기
                    <script type="text/javascript">
                        function score(){
                            var score=document.getElementsByName('score');
                            for(var i=0;i<score.length;i++){
                                if(score[i].checked==true){
                                    score+=score[i].value;
                                }
                            }
                        }
                    </script>-->
                    
                    <input type="submit" value="점수제출">
                </form>
                <hr>
                여러분들의 후기를 기다립니다.<br>
                <textarea name="text" rows="1" cols="50" style="border:1px ,black";></textarea>
                <input type="submit" class="btn btn-dark" value="Add Comment">
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                다른 사람들의 후기<br>
                <!-- {{comment.date받아오기 }} -->
            </td>
        </tr>
    </table>    
</div>
    
</body>