{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
    
<!-- 상단으로 이동하는 화살표 코드-->
    <script type="text/javascript">
            $(document).ready(function(){
 
                var topHeight = parseInt($("#floatingTop").css("top").substring(0,$("#floatingTop").css("top").indexOf("px")));
 
                $(window).scroll(function () { 
                    offset = topHeight+$(document).scrollTop()+"px";
                    $("#floatingTop").animate({top:offset},{duration:100,queue:false});
                });
 
            }); 
    </script>
    <style>
            #floatingTop{
                position:absolute;
                width:40px;
                top:150px;
                right:100px;
                padding:0;
                margin:0;
                z-index:1000;
            }
    </style>
</head>
<body>
    <!-- header -->
    <!-- 상단으로 이동하는 화살표 이미지-->
    <div id="floatingTop">
            <a href="#top"><img src="{% static 'up.png' %}" width="100" height="100"></a>
    </div>
<div class="jumbotron text-center" id="head-font-face">
  <h1>누리관</h1>
  <p>누리관 안에 있는 식당, 카페</p> 
</div>
    
<!-- 이미지 클릭하면 해당 정보로 이동 -->
<div class="container">
  <div class="row nino-hoverEffect">
    <div class="col-md-4 col-sm-4">
        <a href="#가은">
        <div class="card" id="card1">
            <img src="{% static 'gaeun.png' %}" class="card-img-top" alt="...">
            <div class="overlay">
                <div class="text" id="font-face">가은</div>
            </div>
        </div>
        </a>
      </div>
    <div class="col-md-4 col-sm-4">
        <a href="#츄밥">
        <div class="card" id="card2">
            <img src="{% static 'chubab.png' %}" class="card-img-top" alt="...">
            <div class="overlay">
                <div class="text" id="font-face">츄밥</div>
            </div>
        </div>
        </a>
      </div>
    <div class="col-md-4 col-sm-4">
        <a href="#비틀쥬스">
        <div class="card" id="card3">
            <img src="{% static 'beetle.jpg' %}" class="card-img-top" alt="...">
            <div class="overlay">
                <div class="text" id="font-face">비틀 주스</div>
            </div>
        </div>
        </a>
    </div>
  </div>
  <div class="row" style="margin-top: 15px">
    <div class="col-md-4 col-sm-4">
        <a href="#에땅">
        <div class="card" id="card4">
            <img src="{%static 'sandwich.jpg' %}" class="card-img-top" alt="...">
            <div class="overlay">
                <div class="text" id="font-face">에땅</div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="#퀴즈노스">
        <div class="card" id="card5">
            <img src="{% static 'Quiz.png' %}" class="card-img-top" alt="...">
            <div class="overlay">
                <div class="text" id="font-face">퀴즈노스</div>
            </div>
        </div>
        </a>
    </div>
    <div class="col-md-4 col-sm-4">
        <a href="#매점">
        <div class="card" id="card6">
            <img src="{% static 'store.png' %}" class="card-img-top" alt="...">
            <div class="overlay">
                <div class="text" id="font-face">편의점</div>
            </div>
        </div>
        </a>  
    </div>
  </div>
</div>
    
<!-- 이제 본문 내용-->

<div class="container">
    <table border="0" bordercolor="black" width ="1100" height="300" align = "center" >
        <tr align ="left">
            <p><td colspan = "3"><A name="가은"><h1>▶가은</h1></A></td></p>
        </tr>
        <tr align = "center">
            <td width="250"><img src="{%static 'gaeun.png' %}" align="left" width="250" height="250"></td>
            <td width="400">
                <li align="left">추천 메뉴<br>
                    <ul>홍차라떼     2,300</ul>
                    <ul>고구마라떼    2,300</ul>
                    <ul>석류아이스티    1,900</ul>
                    <ul>아이스화이트민트초코라떼    3,200 </ul>
                </li></td>
            <td align="left">
                -카페<br>
                -주소:누리관 1층<br>
                -일요일 휴무, 월~금 08:30-16:00<br>
                -싸고 맛있음<br>
                
            </td>
        </tr>
        
        <tr>
            <td width="10" height="10" colspan="3">  
                <style>
                    .star-rating { width:205px; }
                    .star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(images/star.png)no-repeat; }
                    .star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }
                </style>

                <span class='star-rating'>
                    <span style ="width:50%"></span>
                    <!--width에 변수를 넣는다. {{score(임의)-->
                </span>
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                별점주기
                <form>
                    <input type="radio" name="score" value="1" /> 1점
                    <input type="radio" name="score" value="2" /> 2점
                    <input type="radio" name="score" value="3" /> 3점
                    <input type="radio" name="score" value="4" /> 4점
                    <input type="radio" name="score" value="5" checked="checked"  /> 5점
                    <!--value 값을 받아온다.(폼태그이용) 그래서 별점 계산하기
                    <script type="text/javascript">
                        function score(){
                            var score=document.getElementsByName('score');
                            for(var i=0;i<score.length;i++){
                                if(score[i].checked==true){
                                    score+=score[i].value;
                                }
                            }
                        }
                    </script>-->
                    
                    <input type="submit" value="점수제출">
                </form>
                <hr>
                여러분들의 후기를 기다립니다.<br>
                <textarea name="text" rows="1" cols="50" style="border:1px ,black";></textarea>
                <input type="submit" class="btn btn-dark" value="Add Comment">
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                다른 사람들의 후기<br>
                
            </td>
        </tr>
    </table>    
</div>
    <br><br><br>
    
<div class="container">
    <table border="0" bordercolor="black" width ="1100" height="300" align = "center" >
        <tr align ="left">
            <p><td colspan = "3"><A name="츄밥"><h1>▶츄밥</h1></A></td></p>
        </tr>
        <tr align = "center">
            <td width="250"><img src="{% static 'chubab.png' %}" align="left" width="250" height="250"></td>
            <td width="400">
                <li align="left">추천 메뉴<br>
                    <ul>곱창츄밥     </ul>
                    <ul>치3    </ul>
                    <ul>소금삼겹    </ul>
                    <ul>참치마요    </ul>
                    <ul>레귤러: 1,700 빅츄: 2,000<br> 더블 빅츄: 2,700 슈퍼더블빅: 3,200</ul>
                </li></td>
            <td align="left">
                -밥집<br>
                -주소:누리관 1층<br>
                -일요일 휴무, 월~금 08:30-18:00<br>
                -싸고 맛있음<br>
                -사장님 친절함<br>
                -100번, 200번 등 100번 단위 손님에 당첨되면 토핑 무료추가<br>
                
            </td>
        </tr>
        
        <tr>
            <td width="10" height="10" colspan="3">  
                <style>
                    .star-rating { width:205px; }
                    .star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(images/star.png)no-repeat; }
                    .star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }
                </style>

                <span class='star-rating'>
                    <span style ="width:50%"></span>
                    <!--width에 변수를 넣는다. {{score(임의)-->
                </span>
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                별점주기
                <form>
                    <input type="radio" name="score" value="1" /> 1점
                    <input type="radio" name="score" value="2" /> 2점
                    <input type="radio" name="score" value="3" /> 3점
                    <input type="radio" name="score" value="4" /> 4점
                    <input type="radio" name="score" value="5" checked="checked"  /> 5점
                    <!--value 값을 받아온다.(폼태그이용) 그래서 별점 계산하기
                    <script type="text/javascript">
                        function score(){
                            var score=document.getElementsByName('score');
                            for(var i=0;i<score.length;i++){
                                if(score[i].checked==true){
                                    score+=score[i].value;
                                }
                            }
                        }
                    </script>-->
                    
                    <input type="submit" value="점수제출">
                </form>
                <hr>
                여러분들의 후기를 기다립니다.<br>
                <textarea name="text" rows="1" cols="50" style="border:1px ,black";></textarea>
                <input type="submit" class="btn btn-dark" value="Add Comment">
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                다른 사람들의 후기<br>
                <!-- {{comment.date받아오기 }} -->
            </td>
        </tr>
    </table>    
</div>
    
<br><br><br>
    
<div class="container">
    <table border="0" bordercolor="black" width ="1100" height="300" align = "center" >
        <tr align ="left">
            <p><td colspan = "3"><A name="에땅"><h1>▶에땅</h1></A></td></p>
        </tr>
        <tr align = "center">
            <td width="250"><img src="{% static 'sandwich.jpg' %}" align="left" width="250" height="250"></td>
            <td width="400">
                <li align="left">추천 메뉴<br>
                    <ul>에그플러스     3,900</ul>
                    <ul>잉머핀    2,300</ul>
                    <ul>케이준    2,700</ul>
                    <ul>베이글    2,700</ul>
                    <ul>에땅 버거   1,850</ul>
                </li></td>
            <td align="left">
                -샌드위치 파는 카페<br>
                -주소:누리관 지하1층<br>
                -일요일 휴무, 월~금 08:30-18:00<br>
                -싸고 맛있음<br>
                
            </td>
        </tr>
        
        <tr>
            <td width="10" height="10" colspan="3">  
                <style>
                    .star-rating { width:205px; }
                    .star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(images/star.png)no-repeat; }
                    .star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }
                </style>

                <span class='star-rating'>
                    <span style ="width:50%"></span>
                    <!--width에 변수를 넣는다. {{score(임의)-->
                </span>
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                별점주기
                <form>
                    <input type="radio" name="score" value="1" /> 1점
                    <input type="radio" name="score" value="2" /> 2점
                    <input type="radio" name="score" value="3" /> 3점
                    <input type="radio" name="score" value="4" /> 4점
                    <input type="radio" name="score" value="5" checked="checked"  /> 5점
                    <!--value 값을 받아온다.(폼태그이용) 그래서 별점 계산하기
                    <script type="text/javascript">
                        function score(){
                            var score=document.getElementsByName('score');
                            for(var i=0;i<score.length;i++){
                                if(score[i].checked==true){
                                    score+=score[i].value;
                                }
                            }
                        }
                    </script>-->
                    
                    <input type="submit" value="점수제출">
                </form>
                <hr>
                여러분들의 후기를 기다립니다.<br>
                <textarea name="text" rows="1" cols="50" style="border:1px ,black";></textarea>
                <input type="submit" class="btn btn-dark" value="Add Comment">
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                다른 사람들의 후기<br>
                <!-- {{comment.date받아오기 }} -->
            </td>
        </tr>
    </table>    
</div>
    
<br><br><br>
    
<div class="container">
    <table border="0" bordercolor="black" width ="1100" height="300" align = "center" >
        <tr align ="left">
            <p><td colspan = "3"><A name="비틀쥬스"><h1>▶비틀쥬스</h1></A></td></p>
        </tr>
        <tr align = "center">
            <td width="250"><img src="{% static 'beetle.jpg' %}" align="left" width="250" height="250"></td>
            <td width="400">
                <li align="left">추천 메뉴<br>
                    <ul>딸바유     3,900</ul>
                    <ul>바닐라라떼    2,300</ul>
                    <ul>홍차라떼    2,700</ul>
                </li></td>
            <td align="left">
                -카페<br>
                -주소:누리관 1층<br>
                -일요일 휴무, 월~금 08:30-18:00<br>
                -싸고 맛있음<br>
                -딸바유가 대표메뉴이다<br>
                
            </td>
        </tr>
        
        <tr>
            <td width="10" height="10" colspan="3">  
                <style>
                    .star-rating { width:205px; }
                    .star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(images/star.png)no-repeat; }
                    .star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }
                </style>

                <span class='star-rating'>
                    <span style ="width:50%"></span>
                    <!--width에 변수를 넣는다. {{score(임의)-->
                </span>
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                별점주기
                <form>
                    <input type="radio" name="score" value="1" /> 1점
                    <input type="radio" name="score" value="2" /> 2점
                    <input type="radio" name="score" value="3" /> 3점
                    <input type="radio" name="score" value="4" /> 4점
                    <input type="radio" name="score" value="5" checked="checked"  /> 5점
                    <!--value 값을 받아온다.(폼태그이용) 그래서 별점 계산하기
                    <script type="text/javascript">
                        function score(){
                            var score=document.getElementsByName('score');
                            for(var i=0;i<score.length;i++){
                                if(score[i].checked==true){
                                    score+=score[i].value;
                                }
                            }
                        }
                    </script>-->
                    
                    <input type="submit" value="점수제출">
                </form>
                <hr>
                여러분들의 후기를 기다립니다.<br>
                <textarea name="text" rows="1" cols="50" style="border:1px ,black";></textarea>
                <input type="submit" class="btn btn-dark" value="Add Comment">
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                다른 사람들의 후기<br>
                <!-- {{comment.date받아오기 }} -->
            </td>
        </tr>
    </table>    
</div>
    
<br><br><br>
    
    
<br><br><br>
    
<div class="container">
    <table border="0" bordercolor="black" width ="1100" height="300" align = "center" >
        <tr align ="left">
            <p><td colspan = "3"><A name="퀴즈노스"><h1>▶퀴즈노스</h1></A></td></p>
        </tr>
        <tr align = "center">
            <td width="250"><img src="{% static 'Quiz.png' %}" align="left" width="250" height="250"></td>
            <td width="400">
                <li align="left">추천 메뉴<br>
                    <ul>햄치즈     4,500</ul>
                    <ul>크레이지핫치킨    6,200</ul>
                    <ul>더블치즈스테이크    7,700</ul>
                    <ul>치킨까르보나라    6,200</ul>
                </li></td>
            <td align="left">
                -샌드위치 전문점<br>
                -주소:누리관 1층<br>
                -일요일 휴무, 월~금 08:30-18:00<br>
                
            </td>
        </tr>
        
        <tr>
            <td width="10" height="10" colspan="3">  
                <style>
                    .star-rating { width:205px; }
                    .star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(images/star.png)no-repeat; }
                    .star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }
                </style>

                <span class='star-rating'>
                    <span style ="width:50%"></span>
                    <!--width에 변수를 넣는다. {{score(임의)-->
                </span>
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                별점주기
                <form>
                    <input type="radio" name="score" value="1" /> 1점
                    <input type="radio" name="score" value="2" /> 2점
                    <input type="radio" name="score" value="3" /> 3점
                    <input type="radio" name="score" value="4" /> 4점
                    <input type="radio" name="score" value="5" checked="checked"  /> 5점
                    <!--value 값을 받아온다.(폼태그이용) 그래서 별점 계산하기
                    <script type="text/javascript">
                        function score(){
                            var score=document.getElementsByName('score');
                            for(var i=0;i<score.length;i++){
                                if(score[i].checked==true){
                                    score+=score[i].value;
                                }
                            }
                        }
                    </script>-->
                    
                    <input type="submit" value="점수제출">
                </form>
                <hr>
                여러분들의 후기를 기다립니다.<br>
                <textarea name="text" rows="1" cols="50" style="border:1px ,black";></textarea>
                <input type="submit" class="btn btn-dark" value="Add Comment">
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                다른 사람들의 후기<br>
                <!-- {{comment.date받아오기 }} -->
            </td>
        </tr>
    </table>    
</div>
    
<div class="container">
    <table border="0" bordercolor="black" width ="1100" height="300" align = "center" >
        <tr align ="left">
            <p><td colspan = "3"><A name="매점"><h1>▶매점</h1></A></td></p>
        </tr>
        <tr align = "center">
            <td width="250"><img src="{% static 'store.png' %}" align="left" width="250" height="250"></td>
            <td width="400">
                <li align="left">추천 메뉴<br>
                    <ul>컵라면     1,500</ul>
                    <ul>과자    1,500</ul>
                    <ul>그 외     </ul>
                </li></td>
            <td align="left">
                -편의점<br>
                -주소:누리관 1층<br>
                -월~금 08:00-23:00, 토~일 09:00~23:00<br>
                
            </td>
        </tr>
        
        <tr>
            <td width="10" height="10" colspan="3">  
                <style>
                    .star-rating { width:205px; }
                    .star-rating,.star-rating span { display:inline-block; height:39px; overflow:hidden; background:url(images/star.png)no-repeat; }
                    .star-rating span{ background-position:left bottom; line-height:0; vertical-align:top; }
                </style>

                <span class='star-rating'>
                    <span style ="width:50%"></span>
                    <!--width에 변수를 넣는다. {{score(임의)-->
                </span>
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                별점주기
                <form>
                    <input type="radio" name="score" value="1" /> 1점
                    <input type="radio" name="score" value="2" /> 2점
                    <input type="radio" name="score" value="3" /> 3점
                    <input type="radio" name="score" value="4" /> 4점
                    <input type="radio" name="score" value="5" checked="checked"  /> 5점
                    <!--value 값을 받아온다.(폼태그이용) 그래서 별점 계산하기
                    <script type="text/javascript">
                        function score(){
                            var score=document.getElementsByName('score');
                            for(var i=0;i<score.length;i++){
                                if(score[i].checked==true){
                                    score+=score[i].value;
                                }
                            }
                        }
                    </script>-->
                    
                    <input type="submit" value="점수제출">
                </form>
                <hr>
                여러분들의 후기를 기다립니다.<br>
                <textarea name="text" rows="1" cols="50" style="border:1px ,black";></textarea>
                <input type="submit" class="btn btn-dark" value="Add Comment">
            </td>
        </tr>
        
        <tr>
            <td colspan="3">
                다른 사람들의 후기<br>
                <!-- {{comment.date받아오기 }} -->
            </td>
        </tr>
    </table>    
</div>
</body>